<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conversor</title>
    </head>
    <body>
        <h1>Conversor</h1>
        <form th:action="@{/calculate}" method="post">
        <input type="number" name="temp" required/>
        <select name="conversor">
            <option value="Fahrenheit">Fahrenheit</option>
            <option value="Kelvin">Kelvin</option>
        </select>
        <div th:if="${result != null}">
            <h2>Temperatura: <span th:text="${result}"></span></h2>
        </div>
  </body>
</html>
